# Dependencies (Applies to both client and server)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
build/
dist/
coverage/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db